{% assign cat = page.category %}
{% for category in site.categories %}
	{% if category.first == cat %}
		{% assign sorted = (category[1] | sort: 'url') %}
		{% assign pre_post = '' %}
		{% assign curr_post = '' %}
		{% assign pre_post_title = '' %}
		{% for posts in sorted %}
			{% if pre_post_title == page.title %}
			<div class="flex_container">
				<a class="post-link" href="{{ pre_post.url }}"><span>Previous Section</span></a>
				<a class="post-link" href="{{ posts.url }}"><span>Next Section</span></a>
			</div>
				{% break %}
			{% endif %}
			{% assign pre_post = curr_post %}
			{% assign curr_post = posts %}
			{% assign pre_post_title = posts.title %}
		{% endfor %}
	{% endif %}
{% endfor %}
