---
layout: default
---
<article class="post">

    <header class="post-header">
        {% include google-adnav.html %}
        <h1 class="post-title">{{ page.title | escape }}</h1>
        {% include share-buttons.html %}
        {% include suggest-change.html %}
  	{% include prev_next_posts.html %}
  </header>

  <div class="post-content">
{% if page.toc %}
    <h2> Table of Contents</h2>

    {% assign my_min = page.toc_min | default: site.toc_min | default: 1 %}
    {% assign my_max = page.toc_max | default: site.toc_max | default: 3 %}

    {% include toc.html html=content sanitize=true h_min=my_min h_max=my_max %}
{% endif %}
    {{ content }}
  </div>
  {% include mc_embed_signup.html %}
  {% include prev_next_posts.html %}
  {% include share-buttons.html %}
  {% if page.comments %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
